@import "utils/variable";
@import "utils/mixin";

@import "bases/reset";
@import "bases/general";

@import "layouts/header";
@import "layouts/footer";

@import "components/btn-toogles";
@import "components/nav-slider";



.accueil {
    min-height: 100vh;
    background:
        linear-gradient(90deg, rgba($cl-primary, 1), rgba($cl-secondary, 0.2)),
        url(../img/pictures/desk.jpg) fixed right 0;
    @include center;
    color: $cl-white;
    text-align: center;

    &__logo {
        margin-bottom: 2rem;
        width: 90%;
        max-width: 50rem;
        height: auto;
    }
}

.tarifs {
    .bloc {
        border: 1px solid rgba(#000000, 0.2);
        border-radius: 5px;
        padding: 0 2rem;
        margin-bottom: 2rem;
        color: $cl-white;
        background: linear-gradient(90deg, rgba($cl-primary, 1), rgba($cl-secondary, 0.6)),
            url("../img/pictures/desk.jpg") right / cover;
    }
}