.accueil {
    min-height: 100vh;
    @include center;
    flex-direction: column;
    color: $cl-white;
    background:
        linear-gradient(90deg, rgba($cl-primary, 1), rgba($cl-secondary, 0.3)),
        url("../img/pictures/desk.webp") right / cover;

    @include laptop {
        background:
            linear-gradient(90deg, rgba($cl-primary, 1), rgba($cl-secondary, 0.3)),
            url("../img/pictures/desk.webp") fixed right 0;
        background-size: 100%;
    }

    &__logo {
        margin-bottom: 2rem;
        width: 90%;
        max-width: 45rem;
        height: auto;
    }
}