.presentation {
    @include laptop {
        display: flex;
        align-items: flex-start;
        column-gap: 10rem;
    }

    img {
        width: 10rem;
        height: 10rem;
        float: left;
        margin-right: 2rem;
        border-radius: 1rem;
    }
}

.special-p {
    background-color: $cl-primary;
    padding: 2rem 1rem;
    color: $cl-white;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.parcours {
    div {
        padding: 2.5rem 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.20);
        display: flex;
        align-items: center;
        line-height: 2.5rem;
    }

    span {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        min-width: 12rem;
        font-weight: bold;
        color: #555;

        @include laptop {
            font-size: 1.8rem;
            min-width: 14rem;
        }
    }

    :last-child {
        border: none;
    }
}