.tarifs {
    .container-bloc {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include laptop {
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }
    }

    .bloc {
        border: 2px solid rgb(222, 222, 222);
        border-radius: $border-rad;
        .content{
            padding: 2rem 2rem 0rem;
            background-color: white;
            transition: 0.4s;
            height: 100%;
            @include laptop {
                padding: 4rem 4rem 0rem;
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
            }
        }

        .back-img {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: url("../img/pictures/desk.webp") right / cover;
        }
        .icon {
            width: 50px;
        }
        h4 {
            font-size: 2.2rem;
        }
    }
}