.footer {
    padding: 5rem 2rem 2rem;
    margin-top: 5rem;
    color: $cl-white;
    background:
    $gradient,
        url("../img/pictures/desk.webp") right / cover;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include laptop {
            max-width: 120rem;
            margin: auto;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__logo {
        max-width: 25rem;
        margin-bottom: 5rem;

        @include laptop {
            margin-bottom: 0;
        }
    }

    a {
        text-decoration: underline;
    }
    .copyright {
        font-size: 1.4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}